@tailwind base;

body {
  @apply font-body antialiased;
  text-size-adjust: 100%;
}

.hamburg-menubar {
  @apply hidden;
}

.main-menu {
  @apply items-center;
}

.main-menu a {
  @apply relative;
}

.main-menu a.active {
  @apply text-gray-900 font-semibold;
} 

@media (min-width: 1025px) {
  .main-menu a::after {
    content: '';
    height: 2px;
    bottom: -32.5px;
    @apply opacity-0 w-0 absolute bg-gray-900 inline-block left-0 transition-all duration-300 ease-out;
  }

  .main-menu a.active::after {
    @apply w-full opacity-100 transition-all duration-300 ease-out;
  } 
}

@media (max-width: 1024px) {
  .hamburg-menubar {
    @apply block;
  }

  .hamburg-menubar.is-active {
    @apply bg-gray-900 border-gray-900;
  }

  .hamburg-menubar:hover svg,
  .hamburg-menubar.is-active svg {
    stroke: #fff;
  }

  .main-menu {
    top: 78.5px;
    @apply absolute w-full left-0 bg-white flex-col items-start py-4 shadow-small opacity-0 invisible transition-all duration-300;
  }

  .main-menu.is-active {
    @apply opacity-100 visible py-6 transition-all duration-300;
  }

  .main-menu li {
    @apply w-full max-w-screen-md ml-auto mr-auto -my-2 transition-all duration-300;
  }

  .main-menu.is-active li {
    @apply my-0 transition-all duration-300;
  }

  .main-menu li a {
    @apply flex w-full py-4;
  }
}

.post-container a.btn {
  @apply inline-block bg-gray-900 text-white px-5 py-2 rounded-full no-underline;
  transition: all 0.3s ease;
}

.post-container a.btn:hover,
.post-container a.btn:focus {
  @apply bg-gray-800 px-6;
}


/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */


